@page "/Baguettes"

<PageTitle>Baguettes</PageTitle>
<link rel="stylesheet" href="site.css" />

<br />
<br />
<br />
<h3 style="color: darkgoldenrod">Baguettes</h3>
<h2>
	Baguettes er en uundværlig del af det velsmagende frokostbord og skal derfor bages med den fineste fornemmelse for tør og sprød skorpe.

</h2>
<h2>Hos Sejers Konditori laver vi nogle af Danmarks bedste baguettes, hvor dejen koldhæver 12-24 timer, kerner og melet ristes af, gær og salt tilsættes i afmålte mængder, dejen slås løst op og formes til baguettes, og nogle baguettes strøes med olie, inden de bages i dampovnen.</h2>

<img src="billeder/baguette.jpg " class="img-fluid animated" alt="" height="2400" width="2000">
