@page "/Boernefoedselsdag"

<PageTitle>Boernefoedselsdag</PageTitle>
<br />
<br />
<br />
<h3 style="color:darkgoldenrod">Børne Fødeselsdag</h3>
<h2>
	Vores børn har vidt forskellige personligheder og interesser, og er dejlige forskellige.

	Hos Sejers Konditori laver vi brød og kager i alle former, farver og smagsvarianter – uanset om det fx er en fodbold, hest, tennisketcher, klassisk kagemand/dame eller kæmpestor Kaj-kage.
</h2>
<h2>Kontakt os eller kom forbi butikken til en snak.</h2>


<section id="hero" class="align-items-center">
	<div class="carousel-item active ">
		<div class="cards-wrapper">
			<div class="card" style="width: 18rem">
				<img src="billeder/krokodille.jpg" class="card-img-top" alt="..." style="width: 18rem; height: 18rem;">
				<div class="card-body">
					<h5 class="card-title">krokodille</h5>
					<p class="card-text"></p>
				</div>
			</div>
			<div class="card" style="width: 18rem">
				<img src="billeder/loeve.jpg" class="card-img-top" alt="..." style="width: 18rem; height: 18rem;">
				<div class="card-body">
					<h5 class="card-title">løve</h5>
					<p class="card-text"></p>
				</div>
			</div>
			<div class="card" style="width: 18rem">
				<img src="billeder/bjoern.jpg" class="card-img-top" alt="..." style="width: 18rem; height: 18rem;">
				<div class="card-body">
					<h5 class="card-title">
						bjørn
					</h5>
					<p class="card-text"></p>
				</div>
			</div>
			<div class="card" style="width: 18rem">
				<img src="billeder/abe.jpg" class="card-img-top" alt="..." style="width: 18rem; height: 18rem;">
				<div class="card-body">
					<h5 class="card-title">abe</h5>
					<p class="card-text"></p>
				</div>
			</div>

		</div>
	</div>
</section>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<section id="hero" class="align-items-center">
	<div class="carousel-item active ">
		<div class="cards-wrapper">
			<div class="card" style="width: 18rem">
				<img src="billeder/dyr.jpg" class="card-img-top" alt="..." style="width: 18rem; height: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Klovn</h5>
					<p class="card-text"></p>
				</div>
			</div>
			<div class="card" style="width: 18rem">
				<img src="billeder/hund.jpg" class="card-img-top" alt="..." style="width: 18rem; height: 18rem;">
				<div class="card-body">
					<h5 class="card-title">hund</h5>
					<p class="card-text"></p>
				</div>
			</div>
			<div class="card" style="width: 18rem">
				<img src="billeder/kanin.jpg" class="card-img-top" alt="..." style="width: 18rem; height: 18rem;">
				<div class="card-body">
					<h5 class="card-title">kanin</h5>
					<p class="card-text"></p>
				</div>
			</div>
			<div class="card" style="width: 18rem">
				<img src="billeder/gris.jpg" class="card-img-top" alt="..." style="width: 18rem; height: 18rem;">
				<div class="card-body">
					<h5 class="card-title">gris</h5>
					<p class="card-text"></p>
				</div>
			</div>
		</div>
	</div>
</section>
