@page "/Fester"

<PageTitle>Fester</PageTitle>
<br />
<br />
<br />
<h3 style="color: darkgoldenrod">Fester</h3>
<h2>
	Hos Sejers Konditori bager vi brød og kager i alle former, farver og smagsvarianter til bryllup, dåb, konfirmation, nytår, polterabend eller andre festlige sammenkomster – det kan fx være Eiffeltårnet i kransekage, familiens hund, mormors kolonihavehus, fars første bil eller en fodboldbane med spillere og mål.

	Kontakt os eller kom forbi butikken, så laver vi et brød eller en kage, som afspejler festens hovedperson eller tema – kun fantasien sætter grænserne.
</h2>

<section id="hero" class="align-items-center">
	<div class="carousel-item active ">
		<div class="cards-wrapper">
			<div class="card" style="width: 18rem; height: 18rem">
				<img src="billeder/kage1.png" class="card-img-top" alt="..." style="width: 18rem; height: 18rem">
				<div class="card-body">
					<p class="card-text"></p>
				</div>
			</div>
			<div class="card" style="width: 18rem; height: 18rem">
				<img src="billeder/hjerte.png" class="card-img-top" alt="..." style="width: 18rem; height: 18rem">
				<div class="card-body">
					<p class="card-text"></p>
				</div>
			</div>
			<div class="card" style="width: 18rem; height: 18rem">
				<img src="billeder/XL.png" class="card-img-top" alt="..." style="width: 18rem; height: 18rem">
				<div class="card-body">
					<p class="card-text"></p>
				</div>
			</div>
			<div class="card" style="width: 18rem; height: 18rem">
				<img src="billeder/kransekage.png" class="card-img-top" alt="..." style="width: 18rem; height: 18rem">
				<div class="card-body">
					<p class="card-text"></p>
				</div>
			</div>

		</div>
	</div>
</section>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<section id="hero" class="align-items-center">
	<div class="carousel-item active ">
		<div class="cards-wrapper">
			<div class="card" style="width: 18rem; height: 18rem">
				<img src="billeder/kurv_01.png" class="card-img-top" alt="..." style="width: 18rem; height: 18rem">
				<div class="card-body">
					<p class="card-text"></p>
				</div>
			</div>
			<div class="card" style="width: 18rem; height: 18rem">
				<img src="billeder/daab.png" class="card-img-top" alt="..." style="width: 18rem; height: 18rem">
				<div class="card-body">
					<p class="card-text"></p>
				</div>
			</div>
			<div class="card" style="width: 18rem; height: 18rem">
				<img src="billeder/bryllupskage.png" class="card-img-top" alt="..." style="width: 18rem; height: 18rem">
				<div class="card-body">
					<p class="card-text"></p>
				</div>
			</div>
			<div class="card" style="width: 18rem; height: 18rem">
				<img src="billeder/bryllubskage.png" class="card-img-top" alt="..." style="width: 18rem; height: 18rem">
				<div class="card-body">
					<p class="card-text"></p>
				</div>
			</div>

		</div>
	</div>
</section>
