@page "/kontakt"

<PageTitle>kontakt os</PageTitle>
<link rel="stylesheet" href="site.css" />
<br />
<h3 style="color: darkgoldenrod"><b>Kontakt sejers konditori</b></h3>

<br />
<br />
<h2>
	<b>
		Sejers Konditori, Sorø
	</b>
</h2>
<h4>
	<b>Adresse: </b> <a style="color: black; text-decoration: none;" href="https://www.google.com/maps/place/Sejers+Konditori/55.4324805,11.5546581,18z/data=!4m10!1m2!2m1!1sSejers+Konditori!3m6!1s0x46529c87fe595d5f:0xf00ba12f3ba3ab64!8m2!3d55.4324805!4d11.5566609!15sChBTZWplcnMgS29uZGl0b3JpIgOIAQFaEiIQc2VqZXJzIGtvbmRpdG9yaZIBC3Bhc3RyeV9zaG9w4AEA!16s%2Fg%2F11y1s4vz0?entry=ttu">Storgade 22, 4180 Sorø.</a>
</h4>
<h4><b>Mandag-fredag:</b> 6:30-17:30</h4>
<h4><b>Lørdag-søndag:</b> 6:30-16:00</h4>

<br />
<h2>
	<b>
		Sejers Konditori, Slagelse
	</b>
</h2>
<h4>
	<b>Adresse: </b>
	<a style="color: black; text-decoration: none;" href="https://www.google.com/maps/place/Sejers+Konditori/55.399669,11.3554328,18.25z/data=!3m1!5s0x464d617a32ec8141:0xe0c2e429a8cc38b2!4m10!1m2!2m1!1sSejers+Konditori!3m6!1s0x464d6165006b5731:0x102426be8de00549!8m2!3d55.399824!4d11.355739!15sChBTZWplcnMgS29uZGl0b3JpIgOIAQFaEiIQc2VqZXJzIGtvbmRpdG9yaZIBBmJha2VyeeABAA!16s%2Fg%2F11h26hk772?entry=ttu">Priorgade 1B, 4200 Slagelse.</a>
</h4>
<h4><b>Mandag-fredag:</b> 6:30-17:00</h4>
<h4><b>Lørdag-søndag:</b> 6:30-16:00</h4>
<br />
<br />
<h2>
	<b>
		Kontakt os
	</b>
</h2>
<h4><b>Tlf:</b> 57832242</h4>
<h4><b>E-mail:</b> kontakt@sejers-konditori.dk</h4>