@page "/Rugbroed"

<PageTitle>Rugbroed</PageTitle>
<link rel="stylesheet" href="site.css" />
<br />
<br />
<br />
<h3 style="color: darkgoldenrod">Rugbrød</h3>
<div class="cards-wrapper">
		<h2>
			Rugbrødet er en dansk nationalspise og skal derfor bages med den dybeste respekt. Hos Sejers Konditori laver vi nogle af Danmarks bedste rugbrød, der har den rigtige balance mellem syre, malt og sødme. Bløde deje, iblødsætning af kerner, ingredienser, liggetid, dejtemperatur, saltmængde, syrebalance og hævetid går simpelthen op i en højere enhed.
		</h2>
	<h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6>
</div>
<h2>
</h2>
<br />

<section id="hero" class="align-items-center">
	<div class="carousel-item active ">
		<div class="cards-wrapper">
			<div class="card" style="width: 18rem">
				<img src="billeder/aegir.png" class="card-img-top" alt="..." style="width: 18rem; height: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Ægir</h5>
					<p class="card-text">vand, rugkærner, groft rugmel, rusigtemel, hørfrø, melonkærner, boghvedekærner, rugsur, salt, sirup, gær, maltextrakt(bygmalt, vand, hvedemalt)</p>
				</div>
			</div>
			<div class="card" style="width: 18rem">
				<img src="billeder/soe.png" class="card-img-top" alt="..." style="width: 18rem; height: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Sørugbrød</h5>
					<p class="card-text">Vand, groft rugmel, halvsigtemel, boghvedegryn, sesamfrø, rugsigtemel, hvedemel, solsikkekærner, rugsur, maltetrakt (bygmalt, vand, hvedemalt), gær, salt.</p>
				</div>
			</div>
			<div class="card" style="width: 18rem">
				<img src="billeder/valdemar.png" class="card-img-top" alt="..." style="width: 18rem; height: 18rem;">
				<div class="card-body">
					<h5 class="card-title">
						Valdemarrugbrød
					</h5>
					<p class="card-text">
						vand, groft rugmel, halvsigtemel, græskerkærner, spelt flager, rugsigtemel, hvedemel, sesamfrø, solsikkefrø, hørfrø, rugsur, maltetrakt (bygmalt, vand, hvedemalt), hvedeklid, gær, salt.
					</p>
				</div>
			</div>
			<div class="card" style="width: 18rem">
				<img src="billeder/absolon.png" class="card-img-top" alt="..." style="width: 18rem; height: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Absalonrugbrød</h5>
					<p class="card-text">
						vand, rugsigtemel, crmpede rugkærner, rugmel, ris, hvedegluten, salt, surdej, sirup malt
					</p>
				</div>
			</div>

		</div>
	</div>
</section>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br />
<br />
<br />
<br />
<section id="hero" class="align-items-center">
	<div class="carousel-item active ">
		<div class="cards-wrapper">
			<div class="card" style="width: 18rem">
				<img src="billeder/softkerne.png" class="card-img-top" alt="..." style="width: 18rem; height: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Softkærne</h5>
					<p class="card-text">
						vand, rugkærner, solsikkekærner, hvedemel, groft rugmel, rugsur, salt, gær, maltextakt (bygmalt, vand, hvedemalt)
					</p>
				</div>
			</div>
			<div class="card" style="width: 18rem">
				<img src="billeder/moerkt.png" class="card-img-top" alt="..." style="width: 18rem; height: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Mørkt rugbrød</h5>
					<p class="card-text">
						groft rugmel ,vand, hvedemel, rugsur, maltextrakt(bygmalt, vand, hvedemalt), gær, salt
					</p>
				</div>
			</div>
			<div class="card" style="width: 18rem">
				<img src="billeder/kloster.png" class="card-img-top" alt="..." style="width: 18rem; height: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Klosterrugbrød</h5>
					<p class="card-text">
						vand, rugkærner, groft rugmel, rugsigtemel, rugsur, maltetrakt (bygmalt, vand, hvedemalt), gær, salt
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
