@page "/Specialbroed"

<PageTitle>Specialbroed</PageTitle>
<br />
<br />
<br />
<h3 style="color: darkgoldenrod">Special brød</h3>
<h2>Specialbrødet er kronen på værket ved det udsøgte morgen- eller brunchbord og skal derfor bages med den fineste fornemmelse for vores smagsløg.</h2>
<h2>Hos Sejers konditori laver vi nogle af Danmarks bedste specialbrød, hvor kerner og mel ristes af, dejen koldhæver i 12-24 timer, overfladen ridses på en speciel måde, gærbalancen og dejtemperaturen er nøje afstemt, mens dampovnen giver brødet fylde og en blank, sprød, gylden skorpe.</h2>


<section id="hero" class="align-items-center">
	<div class="carousel-item active ">
		<div class="cards-wrapper">
			<div class="card" style="width: 18rem">
				<img src="billeder/caesar.png" class="card-img-top" alt="..." style="width: 18rem; height: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Cæsarbrød</h5>
					<p class="card-text"></p>
				</div>
			</div>
			<div class="card" style="width: 18rem">
				<img src="billeder/filone.png" class="card-img-top" alt="..." style="width: 18rem; height: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Filone</h5>
					<p class="card-text"></p>
				</div>
			</div>
			<div class="card" style="width: 18rem">
				<img src="billeder/holberg.png" class="card-img-top" alt="..." style="width: 18rem; height: 18rem;">
				<div class="card-body">
					<h5 class="card-title">
						Holdbergbrød
					</h5>
					<p class="card-text"></p>
				</div>
			</div>
			<div class="card" style="width: 18rem">
				<img src="billeder/majs.png" class="card-img-top" alt="..." style="width: 18rem; height: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Majsbrød</h5>
					<p class="card-text"></p>
				</div>
			</div>

		</div>
	</div>
</section>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<section id="hero" class="align-items-center">
	<div class="carousel-item active ">
		<div class="cards-wrapper">
			<div class="card" style="width: 18rem">
				<img src="billeder/schwitser.png" class="card-img-top" alt="..." style="width: 18rem; height: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Schwitserbrød</h5>
					<p class="card-text"></p>
				</div>
			</div>
			<div class="card" style="width: 18rem">
				<img src="billeder/spelt.png" class="card-img-top" alt="..." style="width: 18rem; height: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Speltbrød</h5>
					<p class="card-text"></p>
				</div>
			</div>
			<div class="card" style="width: 18rem">
				<img src="billeder/bamse.png" class="card-img-top" alt="..." style="width: 18rem; height: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Bamsebrød</h5>
					<p class="card-text"></p>
				</div>
			</div>
			<div class="card" style="width: 18rem">
				<img src="billeder/chia.png" class="card-img-top" alt="..." style="width: 18rem; height: 18rem;">
				<div class="card-body">
					<h5 class="card-title">Chiabrød</h5>
					<p class="card-text"></p>
				</div>
			</div>
		</div>
	</div>
</section>